{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}



{% block content %}


    <div class="row">
    <h2> {{ item.title }}</h2>
    </div>
    <div class="row">
    {{ item.description }}
    </div>
    {% if session['username'] %}
    <div class="row">
    {% if session['username'] == item.user.username %}
    <a href="{{ url_for('item_edit',
               category_string = item.category.name,
               item_string = item.title)}}">Edit</a>
        |
    <a class = "delete" href="{{ url_for('item_delete',
               category_string = item.category.name,
               item_string = item.title)}}">Delete</a>
    {% endif %}

    <script>
        $('.delete').click(function() {
    if (confirm("Are you sure you want to delete?"))   {
       window.location = $(this).attr('href');
    }

});
    </script>
    </div>
    {% endif %}
{% endblock %}
